<div class="container">
  <div class="input-field">
    <input id="search" type="search" required>
    <label for="search"><i class="material-icons">search</i></label>
    <i class="material-icons">close</i>
  </div>
  <div class="row" style="padding-top:4rem;">
    <%= render partial: "grid_item", collection: @auctions, as: :auction %>
  </div>
</div>
