<div class="col s4">
  <div class="card z-depth-5" style="width: 300px">
        <%= image_tag "http://qr.hellfroze.net/#{business.name}/qr.png?", class: 'business-image'%>
          <div class="container" style="width: 100%;height: 60px;color:#00aaaa;display:inline-block;">
            <%= link_to business.name, admin_business_path(business.url, business.id) %>
          </div>
        <div id="bid_partial">
          <%= link_to "Bid Now", {:controller => "auctions", :action => "index", :business_id => business.id }, class: 'styled-button'%>
        </div>
        <br>
  </div>
</div>
