<tr>
	  <td><%= pending.name %></td>
	  <td><%= link_to "Activate", skynet_activate_path(:id => pending.id), action: "activate", method: :put  %></td>
		<td><%= pending.created_at.strftime("%B %e, %Y") %></td>
</tr>
