<div class="checkout container">
  <div class="card z-depth-5">
    <div class="row">
    <div class="col m4">
      <div style="width:300px;height:240px;overflow:hidden;">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/a/a1/Harry_Fain,_coal_loader._Inland_Steel_Company,_Wheelwright_%5E1_%26_2_Mines,_Wheelwright,_Floyd_County,_Kentucky._-_NARA_-_541452.jpg", width: "300px",  id: "#{item.id}_item", class: "item-show" %>
      </div>

      <div class="row card-button">
        <button class="btn waves-effect waves-light red" type="submit" name="action">
          <%= button_to "Bid Now!", cart_items_path(item_id: item.id)  %>
        </button>
      </div>
    </div>
    <div class="col m8">
      <div class="item-description">
        <span class="card-title"><b>Human Worker1</b></span>
        <ul>
          <li><b>Department:</b> Sanitation</li>
          <li><b>Skills:</b>  Fastidious, Dependable</li>
          <li><b>Bio:</b><p class="custom-para">I work hard and have been working since a wee child.</p></li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</div>
