<div id='gif-body'>
<h3 class="center robot">Edit Your Info</h3>

<div class="container center" style="width:34rem;">

    <div class="card">
      <div class="card-content user-edit">
        <%= render partial: "partials/new_user_form", locals: { user: @user } %>
      </div>
    </div>
  </div>
</div>
