

<h1 class = "robot center"> Your current live auctions: </h1>
<table class="bordered striped highlight centered responsive-table">
  <thead class="column-head">
    <tr>
      <th data-field="Title">Auction Human</th>
      <th data-field="Time">Time Remaining</th>
      <th data-field="Your Last Bid">Your Last Bid</th>
      <th data-field="Current High Bid">Current High Bid</th>
    </th>
  </tr>
</thead>
<tbody>
  <%= render partial: "live_auctions", collection: @live_auctions, as: :auction %>
</tbody>
</table>
