<div id='gif-body'>

  <div class="container">
    <div class="card z-depth-5" style="border-style:solid;border-color:#ff4444;display:inline-block;border-width:thin;" align="center">
      <%= link_to "View Humans for Hire", auctions_path, style: "border-style:solid;border-color:#ff4444;width:225px;height:30px;padding-top:3px;display:inline-block;border-width:thin;" %>
    </div>

    <div class="card z-depth-5 right" style="border-style:solid;border-color:#ff4444;display:inline-block;border-width:thin;" align="center">
        <%= link_to "View Businesses", businesses_path, style: "border-style:solid;border-color:#ff4444;width:225px;height:30px;padding-top:3px;display:inline-block;border-width:thin;"%>
    </div>
  </div>

  <div class="container center">
    <%= image_tag("terminator_head.png", :alt => "rss feed", :size => "800x600") %>
  </div>
</div>
